.contact {
    padding: 2rem;
    /* height: 20rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #c97d13;
}
.contact-header {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 7rem;
    @media(max-width: 576px){
        font-size: 1.5rem;
        line-height: 4rem;
    }
}
.contact-text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    width: 60%;
    @media(max-width: 576px){
        font-size: 1.2rem;
        line-height: 2rem;
        width: 90%;
    }
}
.contact-link {
    margin-top: 2rem;
}
.contact-img {
    margin-left: 1rem;
    cursor: pointer;
    @media(max-width: 576px){
        width: 3rem;
        height: 3rem;
    }
}
.mail{
    height: 5rem;
    width: 5rem;
    /* @media(max-width: 576px){
        padding-top: -2rem;
    } */
}